<body>
    <div class="navigationBar quicksand">
        <div class="buttonContainer">
            <a href="/" class="Home">Home</a>
            <a href="/write" class="Write">Write</a>
            <a href="/read" class="Read">Read</a>
            <a href="/about" class="About">About Us</a>
            <a href="/contact" class="Contact">Contact</a>
        </div>
    </div>